.blind {
	position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}
.ip-txt {
	box-sizing:border-box;
	height:40px;
	padding:4px 6px;
	border:1px solid #ccc;
}
.ip-txtarea {
	min-height:300px;
}
.radio-wrap {
	display:grid;
	grid-template-columns:1fr 1fr;
	grid-column-gap:5px;
	.radio-box {
		position:relative;
	}
	.ip-rad {
		position:absolute;
		top:0;
		opacity:0;
		&:checked + .lb-rad {
			background:rgba(0,0,0,0.8);
			color:#fff;
		}
	}
	.lb-rad {
		display:block;
		line-height:38px;
		background:#fff;
		border:1px solid #ccc;

	}
}
