html,
body {
	height:100%;
}
body,
input,
textarea {
	font-family: 'Raleway', 'Nanum Gothic', sans-serif;
	font-size:12px;
}
body {
	background:#f9f9f9;
	font-size:12px;
}
.wrap {
	display:grid;
	grid-template-rows:50px auto 40px;
	position:relative;
	min-height:100%;
}
.header-wrap {
	height:50px;
	header {
		position:fixed;
		left:0;
		right:0;
		z-index:100;
		height:50px;

		background:#fff;
		box-shadow:0 2px 2px rgba(0,0,0,.15);
		color:#333;

		.btn-menu {
			$color:rgba(0,0,0,.8);
			position:absolute;
			z-index:1;
			width:0;
			border:25px solid;
			border-color:transparent transparent $color $color;
			transform:rotate(90deg);
			transition:.75s all ease;
			&[aria-haspopup='true'] {
				$color:rgba(0,0,0,1);
				border-color:transparent transparent $color $color;
				transform:rotate(0);
				& ~ .gnb {

					transform:translate(0);
				}
			}
			@keyframes popMenu {
				50% {
					transform:translate(-100px);
				}
				100% {
					transform:translate(0);
				}
			}
		}
		.hd-title {
			line-height:50px;
			text-align:center;
		}
		.gnb {
			position:absolute;
			top:0;
			width:100px;
			height:200px;
			background:url(../img/spr.png) no-repeat;
			transform:translate(-100px);
			transition:1s transform ease;
			.menu-list {
				padding:55px 5px 0;
				.menu {
					line-height:20px;
					&-link {
						color:rgba(255,255,255,.8);
						&:hover {
							color:rgba(255,255,255,1);
						}
					}
				}
			}
		}
		.btn-login {
			position:absolute;
			top:17px;
			right:20px;
			font-size:18px;
			color:rgba(0, 0, 0, 0.8);
		}
	}

}

.footer-wrap {
	height:40px;
	.footer {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		line-height:40px;
		background:#555;
		box-shadow:inset 0 0 5px rgba(0,0,0,0.5);
		color:#eee;
		text-align:center;
		font-size:11px;
	}
}
