
//layer
.layer-scroll-block {
	overflow:hidden;
}
.layer {
	display:none;
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:100;
	padding:20px;
	&.on {
		display:block;
	}
	.layer-dim {
		position:fixed;
		top:0;
		bottom:0;
		left:0;
		right:0;
		background:rgba(0,0,0,.5);
	}
	.layer-window {
		position:relative;
		top:50%;
		left:50%;
		max-width:640px;
		background:#fff;
		font-size:0;
		box-shadow:0 0 5px rgba(0,0,0,0.6);
		transform:translate(-50%, -50%);
	}
}

.thumb-layer {
	.layer-hd {
		position:relative;
	}
	.layer-close {
		@include cross_x(24px, 1px, #666);
		position:absolute;
		right:0;
	}
	.layer-img {
		width:100%;
		vertical-align:baseline;
	}
}
