$gap :20px;

%valign {
	&:before {
		content:'';
		display:inline-block;
		width:1px;
		height:100%;
		margin-left:-1px;
		vertical-align:middle;
	}
}

@function sqrt($r) {
    $x0: 1;
    $x1: $x0;

    @for $i from 1 through 10 {
        $x1: $x0 - ($x0 * $x0 - abs($r)) / (2 * $x0);
        $x0: $x1;
    }
    @return $x1;
}

// 화살표 타입 1
@mixin arrow_type1($dir, $width, $thick, $color:#000){
	$size : $width / sqrt(2) - $thick * 2;
	$offset : ($width - $size) / 2 - ($thick * sqrt(2)) / 2;
	//$thick * sqrt(2) / 2
	position:absolute;
	width:$width;
	height:$width;

	&:before {
		content:"";
		display:block;
		width:$size;
		height:$size;
		border:$thick solid;
		border-color:transparent $color $color transparent;

		@if ($dir == top) {
			-webkit-transform:translate($offset, $offset) rotate(-135deg);
			transform:translate($offset, $offset) rotate(-135deg);
		}
		@elseif ($dir == bottom) {
			-webkit-transform:translate($offset, $offset) rotate(45deg);
			transform:translate($offset, $offset) rotate(45deg);
		}
		@elseif ($dir == left) {
			-webkit-transform:translate($offset, $offset) rotate(135deg);
			transform:translate($offset, $offset) rotate(135deg);
		}
		@elseif ($dir == right) {
			-webkit-transform:translate($offset, $offset) rotate(-45deg);
			transform:translate($offset, $offset) rotate(-45deg);
		}
	}
}

@mixin cross_x($size, $thick, $color:null) {
    position:relative;
	width:$size;
	height:$size;
    &:before,
    &:after {
        content:'';
        position:absolute;
        top:50%;
        left:50%;
        background:$color;
        -webkit-transform:translate(-50%,-50%) rotate(45deg);
        transform:translate(-50%,-50%) rotate(45deg);
    }
    &:before {
        width:$size;
        height:$thick;
    }
    &:after {
        width:$thick;
        height:$size;
    }
}

@mixin elip($line){
	@if ($line == 1) {
		display:block;
		overflow:hidden;
		text-overflow:ellipsis;
		white-space:nowrap;
	}
	@else if ($line > 1){
		display:-webkit-box;
		text-overflow:ellipsis;
		overflow:hidden;
		-webkit-box-orient:vertical;
		-webkit-line-clamp:$line;
	}
}
