.section-form {
	display:grid;
	height:100%;
	grid-template-columns:repeat(12, 1fr);
	grid-column-gap:10px;
	align-items:center;
	.form-wrap {
		grid-column:3 / 11;
		text-align:center;
		.form-tit {
			padding-bottom:20px;
			font-weight:normal;
			letter-spacing:3px;
		}
	}
	.content {
		padding:2px 0 3px;
		.ip-txt {
			width:100%;
		}
		.age-wrap {
			display:grid;
			grid-template-columns:repeat(4, 1fr);
			grid-column-gap:5px;
			.age-box {
				&:first-child {
					grid-column:1 / span 2;
				}
			}
		}
	}
	#user-pw2.invalid + .txt-alert .not-allowed {
		display:block;
	}
	#user-pw2.valid + .txt-alert .allowed {
		display:block;
	}
	.txt-alert {
		display:block;
		height:20px;
		padding-top:5px;
		line-height:20px;
		text-align:left;

		.not-allowed {
			display:none;
			color:#f00;
		}
		.allowed {
			display:none;
			color:#666;
		}
	}
	.btn-wrap {
		padding-top:23px;
		.btn-form {
			width:100%;
			height:40px;
			background:rgba(0,0,0,.8);
			color:#fff;
		}
	}
	.link-join {
		display:inline-block;
		margin-top:30px;
		color:#414141;
		text-decoration:underline;
	}
}
.section-write {
	.form-wrap {
		grid-column:2 / 12;
	}
}
.section-profile {
	padding:20px 0;
	text-align:center;
	.profile {
		display:inline-block;
		width:240px;
		height:240px;
		border:1px solid #ccc;
		border-radius:50%;
		overflow:hidden;
	}
	.txt {
		padding:4px 0;
		.name {
			padding-bottom:5px;
			font-size : 20px;
			font-weight:100;
		}
	}

}

.section-accordion {
	.accordion {
		position:relative;
		&-link {
			display:block;
			padding:0 20px;
			line-height:50px;
			background:#fff;
			border-bottom:1px solid #ddd;
			&[aria-expanded="true"] + .accordion-content {
				background:#f9f9f9;
			}
			.fas {
				position:absolute;
				top:15px;
				right:20px;
				color:#999;
				font-size:14px;
			}
		}
		&:first-child .accordion-link {
			border-top:1px solid #ddd;
		}
		&-content {
			display:none;
			padding:10px 20px;
			background:#fff;
			border-bottom:1px solid #ddd;
			color:#777;
			transition:1s background ease;
		}
	}
}

.section-gallery {
	.gallery-wrap {
		display:grid;
		grid-template-columns:50% 50%;
		.gallery {
			overflow:hidden;
			position:relative;
			&-link {
				display:block;
				&:after {
					content:'';
					position:absolute;
					top:0;
					bottom:0;
					left:0;
					right:0;
					background:rgba(0,0,0,.05);
					transition:.5s background ease;
				}
				&:hover {
					&:after {
						background:transparent;
					}
					img {
						transform:scale(1.2);
					}
				}
			}
			&-img {
				width:100%;
				transition:.5s transform ease;
			}

		}
	}
	.txt-wrap {
		padding:10px 0;
		text-align:center;
		.link-more {
			font-size:14px;
			&:hover {
				animation:1s twinkle ease;
			}
		}
		@keyframes twinkle {
			50% {
				color:rgba(0,0,0,.3);
			}
			100% {
				color:#000;
			}
		}
	}
}
.section-gallery-more {
	.gallery-wrap {
		@media screen and (max-width:480px) {
			grid-template-columns:auto;
		}
		&:nth-child(2n){
			.gallery {
				order:2;
				@media screen and (max-width:480px) {
					order:initial;
				}
			}
			.gallery-txt:after {
				left:auto;
				right:-20px;
				border-color:transparent transparent transparent #fff;
				@media screen and (max-width:480px) {
					left:50%;
					right:auto;
					border-color:transparent transparent #fff;
				}
			}
		}
	}
	.gallery-txt {
		position:relative;
		display:flex;
		align-items:center;
		padding:10px 20px;
		background:#fff;
		@media screen and (max-width:480px) {
			padding:20px;
		}

		&:after {
			content:'';
			position:absolute;
			top:50%;
			left:-20px;
			margin-top:-10px;
			border:10px solid;
			border-color:transparent #fff transparent transparent;
			@media screen and (max-width:480px) {
				left:50%;
				top:-20px;
				margin-top:auto;
				margin-left:-10px;
				border-color:transparent transparent #fff;
			}
		}
	}
}
.section-carousel {
	$carousel-num : 4;

	.carousel-wrap {
		position:relative;

		//carousel 버튼
		.carousel-prev,
		.carousel-next {
			position:absolute;
			top:50%;
			z-index:1;
			transform:translateY(-50%);
			width:30px;
			height:30px;
			background:rgba(0,0,0,0.5);
			border:none;
		}
		.carousel-next {
			right:0;
		}
		.ico-carousel-prev,
		.ico-carousel-next {
			top:9px;
		}
		.ico-carousel-prev {
			@include arrow_type1(left, 10px, 1px, #fff);
			left:10px;
		}
		.ico-carousel-next {
			@include arrow_type1(right, 10px, 1px, #fff);
			left:7px;
		}

		// carousel
		.carousel-container {
			overflow:hidden;
			@for $i from 1 through $carousel-num {
				&[data-num = "#{$i}"] {
					.carousel-list-wrap {
						transform:translate(#{($i - 1) * -100%});
					}
					.num:nth-child(#{$i}) .num-link{
						background:#888;
					}
				}
			}
			.carousel-list-wrap {
				font-size:0;
				white-space:nowrap;

				.carousel-list {
					display:inline-block;
					width:100%;
					img {
						width:100%;
					}
				}
			}
		}

		//carousel num
		.num-list {
			position:absolute;
			left:50%;
			bottom:8px;
			z-index:1;
			font-size:0;
			transform:translate(-50%);
			.num {
				display:inline-block;
				margin-left:4px;
				&:first-child {
					margin-left:0;
				}
				&-link {
					display:block;
					width:6px;
					height:6px;
					border:1px solid #fff;
					border-radius:50%;
				}
			}
		}
	}
}
.section-list {
	position:relative;
	padding-top:20px;
	&:after {
		content:'';
		display:block;
		clear:both;
	}
	&:before {
		content:'';
		position:absolute;
		left:50%;
		top:0;
		bottom:0;
		border-right:1px solid #ddd;
		@media screen and (max-width:480px) {
			content:none;
		}
	}
	.btn-wrap {
		padding:0 20px;
		text-align:right;
		.btn-list {
			width:30px;
			height:30px;
			background:#000;
			border-radius:50%;
			color:#fff;
			&[aria-pressed="true"] .i-list,
			&[aria-pressed="false"] .i-expand-list {
				display:none;
			}
			.i-list {
				padding-top:2px;
			}
			.i-expand-list {
				display:inline-block;
				width:15px;
				height:15px;
				margin-top:4px;
				background:url(../img/spr.png) no-repeat;
				background-position:-110px 0;
			}
		}
	}
	.list-wrap {
		.list {
			float:left;
			width:50%;
			@media screen and (max-width:480px) {
				float:none;
				width:auto;
			}
		}
	}
	.thumb-link {
		display:block;
		&:hover ~ .txt-wrap .tit {
			text-decoration:underline;
		}
		.svg-wrap {
			position: relative;
			margin:0 20px;
			.svg-image {
				clip-path: url(#clip-polygon);
			}
		}
	}
	.txt-wrap {
		padding:10px 20px 50px;
		text-align:center;

		@media screen and (max-width:480px) {
			position:static;
			max-width:none;
			margin-left:0;
		}
		.tit {
			display:inline-block;
			&:hover {
				text-decoration:underline;
			}
		}
		.date {
			display:block;
			padding:3px 0;
			color:#666;
		}
		.txt {
			@include elip(5);
		}
	}

	// 게시판형
	&.board {
		padding-bottom:30px;
		&:before {
			content:none;
		}
		.list-wrap {
			padding:0 20px;
			&:first-of-type .list:first-child {
				border-top:0;
			}
			.list {
				float:none;
				width:auto;
				padding:13px 6px 10px;
				border-top:1px solid #ccc;
			}
		}
		.thumb-link,
		.txt {
			display:none;
		}
		.txt-wrap {
			position:relative;
			@include elip(1);
			padding:0;
			padding-right:80px;
			text-align:left;
			&:after {
				content:'';
				display:block;
				clear:both;
			}
			.tit {
				display:inline-block;
			}
			.date {
				position:absolute;
				right:0;
				bottom:0;
				padding:0;
			}
		}
		.bbs-footer {
			padding:15px 20px 0;
			.btn-write-wrap {
				position:fixed;
				right:20px;
				bottom:60px;
				height:45px;
				overflow:hidden;
				&:after {
					content:'';
					display:block;
					clear:both;
				}
			}
			.btn-write {
				display:block;
				position:relative;
				width:45px;
				height:45px;
				color:#000;
				line-height:45px;
				text-align:center;
				.btn-txt,
				.btn-box {
					position:absolute;
					left:0;
					right:0;
					top:0;
					bottom:0;
					border:1px solid #999;
					letter-spacing:1px;
					transition:transform 0.4s ease;
				}
				.btn-txt {
					background:#fff;
					font-size:12px;
				}
				.btn-box {
					transform:translateY(45px);
				}
				&:hover {
					.btn-txt {
						transform:translateY(-45px);
					}
					.btn-box {
						background:#222;
						color:#fff;
						transform:translateY(0);
					}
				}
			}
		}
	}
}
.section-view {
	.view-wrap {
		margin:10px;
		padding:40px 20px;
		background:#fff;
		border:1px solid #eee;
		box-shadow:0 1px 1px rgba(0,0,0,0.2);
	}
	.view-header {
		text-align:center;
		border-bottom:1px solid #ccc;
		.tit {
			font-size:14px;
			line-height:18px;
			color:#333;
		}
		.date {
			display:block;
			padding:15px 0 28px;
			color:#888;
		}
	}
	.view-main {
		padding:20px 0;
		color:#666;
		img {
			width:100%;
			margin:12px 0;
		}
	}
	.view-reply {
		padding-top:20px;
		margin-top:20px;
		border-top:1px solid #eee;
		.reply {
			position:relative;
			margin-top:10px;
			&:first-child {
				padding-top:0;
			}
			.reply-btn-wrap {
				display:inline-block;
				vertical-align:middle;
			}
			.btn-reply-del {
				@include cross_x(8px, 1px, #fff);
				width:14px;
				height:14px;
				background:#777;
				border-radius:50%;
			}
			.reply-info {
				padding-bottom:3px;
			}
			.reply-date {
				padding:0 4px 0 6px;
				color:#999;
			}
		}
		.reply-write-wrap {
			padding:15px 0 0;
			.reply-write-info {
				padding-bottom:10px;
			}
			.inp-reply-writer {
				width:100px;
				padding:3px 5px;
				border:1px solid #ccc;
				&::placeholder {
					color:#999;
				}
			}
			.reply-txtarea-wrap {
				position:relative;
				padding-right:60px;
				border:1px solid #ccc;
			}
			.reply-txtarea {
				box-sizing:border-box;
				width:100%;
				height:60px;
				padding:3px 5px;
				resize:none;
				&::placeholder {
					color:#999;
				}
			}
			.reply-submit {
				position:absolute;
				top:0;
				right:0;
				width:60px;
				height:60px;
				padding:10px;
				background:#666;
				color:#fff;
				font-size:12px;
			}
		}

	}
}
.section-card {
	padding:10px 0;
	.card-wrap {
		$num : 12;

		display:grid;
		grid-auto-flow:dense;
		grid-template-columns:repeat(3,[col] 1fr);
		grid-column-gap:5px;
		grid-row-gap:5px;

		.card-link {
			transition:all 1s;
			&.on {
				grid-column:auto / span 2;
				grid-row:auto / span 2;
				.flipper {
					-webkit-transform:rotateX(180deg);
					transform:rotateX(180deg);
				}
				.card-content {
					position:absolute;
					left:0;
					right:0;
					top:0;
					bottom:0;
					z-index:2;
					display:flex;
					flex-direction:column;
					align-items:center;
					justify-content:center;
					padding:30px;
					.tit {
						padding-bottom:5px;
					}
				}
			}
		}
		.flipper {
			transform-style:preserve-3d;
			position:relative;
			padding-bottom:100%;
			transition:transform 1s;
		}
	}
	.card {
		display:flex;
		flex-direction:column;
  		flex-wrap:wrap;
		align-items:center;
		justify-content:center;
		position:absolute;
		box-sizing:border-box;
		width:100%;
		height:100%;
		border:1px solid #c9c9c9;
		transition:all 1s;
		backface-visibility:hidden;
		overflow:hidden;
		&.front {
			background:#fff;
			-webkit-transform:rotateX(0deg);
			transform:rotateX(0deg);
		}
		&.back {
			background:#000;
			-webkit-transform:rotateX(180deg);
			transform:rotateX(180deg);
			color:#fff;
			&:before {
				content:'';
				position:absolute;
				left:0;
				right:0;
				top:0;
				bottom:0;
				z-index:1;
				background:rgba(0,0,0,.6);
			}
		}
		.card-img {
			width:100%;
		}
	}

	@keyframes flip {
		50% {
			-webkit-transform:rotateX(180deg);
			transform:rotateX(180deg);
		}
	}
}
