body, div, p, h1, h2, h3, h4, h5, h6, fieldset, textarea, ul, ol, li, dl, dt, dd, figure {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

fieldset {
  border: 0; }

input {
  padding: 0;
  margin: 0;
  border: none; }

button {
  overflow: visible;
  cursor: pointer;
  margin: 0;
  border: 0;
  padding: 0;
  background: none; }

select {
  cursor: pointer; }

a {
  text-decoration: none;
  color: #000; }

body {
  font-size: 12px; }

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem; }

em {
  font-style: normal; }

img {
  vertical-align: top;
  border: 0; }

textarea {
  vertical-align: top;
  border: 0; }

.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px; }

.ip-txt {
  box-sizing: border-box;
  height: 40px;
  padding: 4px 6px;
  border: 1px solid #ccc; }

.ip-txtarea {
  min-height: 300px; }

.radio-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5px; }
  .radio-wrap .radio-box {
    position: relative; }
  .radio-wrap .ip-rad {
    position: absolute;
    top: 0;
    opacity: 0; }
    .radio-wrap .ip-rad:checked + .lb-rad {
      background: rgba(0, 0, 0, 0.8);
      color: #fff; }
  .radio-wrap .lb-rad {
    display: block;
    line-height: 38px;
    background: #fff;
    border: 1px solid #ccc; }

html,
body {
  height: 100%; }

body,
input,
textarea {
  font-family: 'Raleway', 'Nanum Gothic', sans-serif;
  font-size: 12px; }

body {
  background: #f9f9f9;
  font-size: 12px; }

.wrap {
  display: grid;
  grid-template-rows: 50px auto 40px;
  position: relative;
  min-height: 100%; }

.header-wrap {
  height: 50px; }
  .header-wrap header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;
    height: 50px;
    background: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    color: #333; }
    .header-wrap header .btn-menu {
      position: absolute;
      z-index: 1;
      width: 0;
      border: 25px solid;
      border-color: transparent transparent rgba(0, 0, 0, 0.8) rgba(0, 0, 0, 0.8);
      transform: rotate(90deg);
      transition: .75s all ease; }
      .header-wrap header .btn-menu[aria-haspopup='true'] {
        border-color: transparent transparent black black;
        transform: rotate(0); }
        .header-wrap header .btn-menu[aria-haspopup='true'] ~ .gnb {
          transform: translate(0); }
@keyframes popMenu {
  50% {
    transform: translate(-100px); }
  100% {
    transform: translate(0); } }
    .header-wrap header .hd-title {
      line-height: 50px;
      text-align: center; }
    .header-wrap header .gnb {
      position: absolute;
      top: 0;
      width: 100px;
      height: 200px;
      background: url(../img/spr.png) no-repeat;
      transform: translate(-100px);
      transition: 1s transform ease; }
      .header-wrap header .gnb .menu-list {
        padding: 55px 5px 0; }
        .header-wrap header .gnb .menu-list .menu {
          line-height: 20px; }
          .header-wrap header .gnb .menu-list .menu-link {
            color: rgba(255, 255, 255, 0.8); }
            .header-wrap header .gnb .menu-list .menu-link:hover {
              color: white; }
    .header-wrap header .btn-login {
      position: absolute;
      top: 17px;
      right: 20px;
      font-size: 18px;
      color: rgba(0, 0, 0, 0.8); }

.footer-wrap {
  height: 40px; }
  .footer-wrap .footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 40px;
    background: #555;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    color: #eee;
    text-align: center;
    font-size: 11px; }

.section-form {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 10px;
  align-items: center; }
  .section-form .form-wrap {
    grid-column: 3 / 11;
    text-align: center; }
    .section-form .form-wrap .form-tit {
      padding-bottom: 20px;
      font-weight: normal;
      letter-spacing: 3px; }
  .section-form .content {
    padding: 2px 0 3px; }
    .section-form .content .ip-txt {
      width: 100%; }
    .section-form .content .age-wrap {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 5px; }
      .section-form .content .age-wrap .age-box:first-child {
        grid-column: 1 / span 2; }
  .section-form #user-pw2.invalid + .txt-alert .not-allowed {
    display: block; }
  .section-form #user-pw2.valid + .txt-alert .allowed {
    display: block; }
  .section-form .txt-alert {
    display: block;
    height: 20px;
    padding-top: 5px;
    line-height: 20px;
    text-align: left; }
    .section-form .txt-alert .not-allowed {
      display: none;
      color: #f00; }
    .section-form .txt-alert .allowed {
      display: none;
      color: #666; }
  .section-form .btn-wrap {
    padding-top: 23px; }
    .section-form .btn-wrap .btn-form {
      width: 100%;
      height: 40px;
      background: rgba(0, 0, 0, 0.8);
      color: #fff; }
  .section-form .link-join {
    display: inline-block;
    margin-top: 30px;
    color: #414141;
    text-decoration: underline; }

.section-write .form-wrap {
  grid-column: 2 / 12; }

.section-profile {
  padding: 20px 0;
  text-align: center; }
  .section-profile .profile {
    display: inline-block;
    width: 240px;
    height: 240px;
    border: 1px solid #ccc;
    border-radius: 50%;
    overflow: hidden; }
  .section-profile .txt {
    padding: 4px 0; }
    .section-profile .txt .name {
      padding-bottom: 5px;
      font-size: 20px;
      font-weight: 100; }

.section-accordion .accordion {
  position: relative; }
  .section-accordion .accordion-link {
    display: block;
    padding: 0 20px;
    line-height: 50px;
    background: #fff;
    border-bottom: 1px solid #ddd; }
    .section-accordion .accordion-link[aria-expanded="true"] + .accordion-content {
      background: #f9f9f9; }
    .section-accordion .accordion-link .fas {
      position: absolute;
      top: 15px;
      right: 20px;
      color: #999;
      font-size: 14px; }
  .section-accordion .accordion:first-child .accordion-link {
    border-top: 1px solid #ddd; }
  .section-accordion .accordion-content {
    display: none;
    padding: 10px 20px;
    background: #fff;
    border-bottom: 1px solid #ddd;
    color: #777;
    transition: 1s background ease; }

.section-gallery .gallery-wrap {
  display: grid;
  grid-template-columns: 50% 50%; }
  .section-gallery .gallery-wrap .gallery {
    overflow: hidden;
    position: relative; }
    .section-gallery .gallery-wrap .gallery-link {
      display: block; }
      .section-gallery .gallery-wrap .gallery-link:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.05);
        transition: .5s background ease; }
      .section-gallery .gallery-wrap .gallery-link:hover:after {
        background: transparent; }
      .section-gallery .gallery-wrap .gallery-link:hover img {
        transform: scale(1.2); }
    .section-gallery .gallery-wrap .gallery-img {
      width: 100%;
      transition: .5s transform ease; }
.section-gallery .txt-wrap {
  padding: 10px 0;
  text-align: center; }
  .section-gallery .txt-wrap .link-more {
    font-size: 14px; }
    .section-gallery .txt-wrap .link-more:hover {
      animation: 1s twinkle ease; }
@keyframes twinkle {
  50% {
    color: rgba(0, 0, 0, 0.3); }
  100% {
    color: #000; } }
@media screen and (max-width: 480px) {
  .section-gallery-more .gallery-wrap {
    grid-template-columns: auto; } }
.section-gallery-more .gallery-wrap:nth-child(2n) .gallery {
  order: 2; }
  @media screen and (max-width: 480px) {
    .section-gallery-more .gallery-wrap:nth-child(2n) .gallery {
      order: initial; } }
.section-gallery-more .gallery-wrap:nth-child(2n) .gallery-txt:after {
  left: auto;
  right: -20px;
  border-color: transparent transparent transparent #fff; }
  @media screen and (max-width: 480px) {
    .section-gallery-more .gallery-wrap:nth-child(2n) .gallery-txt:after {
      left: 50%;
      right: auto;
      border-color: transparent transparent #fff; } }
.section-gallery-more .gallery-txt {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #fff; }
  @media screen and (max-width: 480px) {
    .section-gallery-more .gallery-txt {
      padding: 20px; } }
  .section-gallery-more .gallery-txt:after {
    content: '';
    position: absolute;
    top: 50%;
    left: -20px;
    margin-top: -10px;
    border: 10px solid;
    border-color: transparent #fff transparent transparent; }
    @media screen and (max-width: 480px) {
      .section-gallery-more .gallery-txt:after {
        left: 50%;
        top: -20px;
        margin-top: auto;
        margin-left: -10px;
        border-color: transparent transparent #fff; } }

.section-carousel .carousel-wrap {
  position: relative; }
  .section-carousel .carousel-wrap .carousel-prev,
  .section-carousel .carousel-wrap .carousel-next {
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background: rgba(0, 0, 0, 0.5);
    border: none; }
  .section-carousel .carousel-wrap .carousel-next {
    right: 0; }
  .section-carousel .carousel-wrap .ico-carousel-prev,
  .section-carousel .carousel-wrap .ico-carousel-next {
    top: 9px; }
  .section-carousel .carousel-wrap .ico-carousel-prev {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 10px; }
    .section-carousel .carousel-wrap .ico-carousel-prev:before {
      content: "";
      display: block;
      width: 5.0710678119px;
      height: 5.0710678119px;
      border: 1px solid;
      border-color: transparent #fff #fff transparent;
      -webkit-transform: translate(1.7573593129px, 1.7573593129px) rotate(135deg);
      transform: translate(1.7573593129px, 1.7573593129px) rotate(135deg); }
  .section-carousel .carousel-wrap .ico-carousel-next {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 7px; }
    .section-carousel .carousel-wrap .ico-carousel-next:before {
      content: "";
      display: block;
      width: 5.0710678119px;
      height: 5.0710678119px;
      border: 1px solid;
      border-color: transparent #fff #fff transparent;
      -webkit-transform: translate(1.7573593129px, 1.7573593129px) rotate(-45deg);
      transform: translate(1.7573593129px, 1.7573593129px) rotate(-45deg); }
  .section-carousel .carousel-wrap .carousel-container {
    overflow: hidden; }
    .section-carousel .carousel-wrap .carousel-container[data-num="1"] .carousel-list-wrap {
      transform: translate(0%); }
    .section-carousel .carousel-wrap .carousel-container[data-num="1"] .num:nth-child(1) .num-link {
      background: #888; }
    .section-carousel .carousel-wrap .carousel-container[data-num="2"] .carousel-list-wrap {
      transform: translate(-100%); }
    .section-carousel .carousel-wrap .carousel-container[data-num="2"] .num:nth-child(2) .num-link {
      background: #888; }
    .section-carousel .carousel-wrap .carousel-container[data-num="3"] .carousel-list-wrap {
      transform: translate(-200%); }
    .section-carousel .carousel-wrap .carousel-container[data-num="3"] .num:nth-child(3) .num-link {
      background: #888; }
    .section-carousel .carousel-wrap .carousel-container[data-num="4"] .carousel-list-wrap {
      transform: translate(-300%); }
    .section-carousel .carousel-wrap .carousel-container[data-num="4"] .num:nth-child(4) .num-link {
      background: #888; }
    .section-carousel .carousel-wrap .carousel-container .carousel-list-wrap {
      font-size: 0;
      white-space: nowrap; }
      .section-carousel .carousel-wrap .carousel-container .carousel-list-wrap .carousel-list {
        display: inline-block;
        width: 100%; }
        .section-carousel .carousel-wrap .carousel-container .carousel-list-wrap .carousel-list img {
          width: 100%; }
  .section-carousel .carousel-wrap .num-list {
    position: absolute;
    left: 50%;
    bottom: 8px;
    z-index: 1;
    font-size: 0;
    transform: translate(-50%); }
    .section-carousel .carousel-wrap .num-list .num {
      display: inline-block;
      margin-left: 4px; }
      .section-carousel .carousel-wrap .num-list .num:first-child {
        margin-left: 0; }
      .section-carousel .carousel-wrap .num-list .num-link {
        display: block;
        width: 6px;
        height: 6px;
        border: 1px solid #fff;
        border-radius: 50%; }

.section-list {
  position: relative;
  padding-top: 20px; }
  .section-list:after {
    content: '';
    display: block;
    clear: both; }
  .section-list:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    border-right: 1px solid #ddd; }
    @media screen and (max-width: 480px) {
      .section-list:before {
        content: none; } }
  .section-list .btn-wrap {
    padding: 0 20px;
    text-align: right; }
    .section-list .btn-wrap .btn-list {
      width: 30px;
      height: 30px;
      background: #000;
      border-radius: 50%;
      color: #fff; }
      .section-list .btn-wrap .btn-list[aria-pressed="true"] .i-list, .section-list .btn-wrap .btn-list[aria-pressed="false"] .i-expand-list {
        display: none; }
      .section-list .btn-wrap .btn-list .i-list {
        padding-top: 2px; }
      .section-list .btn-wrap .btn-list .i-expand-list {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-top: 4px;
        background: url(../img/spr.png) no-repeat;
        background-position: -110px 0; }
  .section-list .list-wrap .list {
    float: left;
    width: 50%; }
    @media screen and (max-width: 480px) {
      .section-list .list-wrap .list {
        float: none;
        width: auto; } }
  .section-list .thumb-link {
    display: block; }
    .section-list .thumb-link:hover ~ .txt-wrap .tit {
      text-decoration: underline; }
    .section-list .thumb-link .svg-wrap {
      position: relative;
      margin: 0 20px; }
      .section-list .thumb-link .svg-wrap .svg-image {
        clip-path: url(#clip-polygon); }
  .section-list .txt-wrap {
    padding: 10px 20px 50px;
    text-align: center; }
    @media screen and (max-width: 480px) {
      .section-list .txt-wrap {
        position: static;
        max-width: none;
        margin-left: 0; } }
    .section-list .txt-wrap .tit {
      display: inline-block; }
      .section-list .txt-wrap .tit:hover {
        text-decoration: underline; }
    .section-list .txt-wrap .date {
      display: block;
      padding: 3px 0;
      color: #666; }
    .section-list .txt-wrap .txt {
      display: -webkit-box;
      text-overflow: ellipsis;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5; }
  .section-list.board {
    padding-bottom: 30px; }
    .section-list.board:before {
      content: none; }
    .section-list.board .list-wrap {
      padding: 0 20px; }
      .section-list.board .list-wrap:first-of-type .list:first-child {
        border-top: 0; }
      .section-list.board .list-wrap .list {
        float: none;
        width: auto;
        padding: 13px 6px 10px;
        border-top: 1px solid #ccc; }
    .section-list.board .thumb-link,
    .section-list.board .txt {
      display: none; }
    .section-list.board .txt-wrap {
      position: relative;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0;
      padding-right: 80px;
      text-align: left; }
      .section-list.board .txt-wrap:after {
        content: '';
        display: block;
        clear: both; }
      .section-list.board .txt-wrap .tit {
        display: inline-block; }
      .section-list.board .txt-wrap .date {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 0; }
    .section-list.board .bbs-footer {
      padding: 15px 20px 0; }
      .section-list.board .bbs-footer .btn-write-wrap {
        position: fixed;
        right: 20px;
        bottom: 60px;
        height: 45px;
        overflow: hidden; }
        .section-list.board .bbs-footer .btn-write-wrap:after {
          content: '';
          display: block;
          clear: both; }
      .section-list.board .bbs-footer .btn-write {
        display: block;
        position: relative;
        width: 45px;
        height: 45px;
        color: #000;
        line-height: 45px;
        text-align: center; }
        .section-list.board .bbs-footer .btn-write .btn-txt,
        .section-list.board .bbs-footer .btn-write .btn-box {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          border: 1px solid #999;
          letter-spacing: 1px;
          transition: transform 0.4s ease; }
        .section-list.board .bbs-footer .btn-write .btn-txt {
          background: #fff;
          font-size: 12px; }
        .section-list.board .bbs-footer .btn-write .btn-box {
          transform: translateY(45px); }
        .section-list.board .bbs-footer .btn-write:hover .btn-txt {
          transform: translateY(-45px); }
        .section-list.board .bbs-footer .btn-write:hover .btn-box {
          background: #222;
          color: #fff;
          transform: translateY(0); }

.section-view .view-wrap {
  margin: 10px;
  padding: 40px 20px;
  background: #fff;
  border: 1px solid #eee;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }
.section-view .view-header {
  text-align: center;
  border-bottom: 1px solid #ccc; }
  .section-view .view-header .tit {
    font-size: 14px;
    line-height: 18px;
    color: #333; }
  .section-view .view-header .date {
    display: block;
    padding: 15px 0 28px;
    color: #888; }
.section-view .view-main {
  padding: 20px 0;
  color: #666; }
  .section-view .view-main img {
    width: 100%;
    margin: 12px 0; }
.section-view .view-reply {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #eee; }
  .section-view .view-reply .reply {
    position: relative;
    margin-top: 10px; }
    .section-view .view-reply .reply:first-child {
      padding-top: 0; }
    .section-view .view-reply .reply .reply-btn-wrap {
      display: inline-block;
      vertical-align: middle; }
    .section-view .view-reply .reply .btn-reply-del {
      position: relative;
      width: 8px;
      height: 8px;
      width: 14px;
      height: 14px;
      background: #777;
      border-radius: 50%; }
      .section-view .view-reply .reply .btn-reply-del:before, .section-view .view-reply .reply .btn-reply-del:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        background: #fff;
        -webkit-transform: translate(-50%, -50%) rotate(45deg);
        transform: translate(-50%, -50%) rotate(45deg); }
      .section-view .view-reply .reply .btn-reply-del:before {
        width: 8px;
        height: 1px; }
      .section-view .view-reply .reply .btn-reply-del:after {
        width: 1px;
        height: 8px; }
    .section-view .view-reply .reply .reply-info {
      padding-bottom: 3px; }
    .section-view .view-reply .reply .reply-date {
      padding: 0 4px 0 6px;
      color: #999; }
  .section-view .view-reply .reply-write-wrap {
    padding: 15px 0 0; }
    .section-view .view-reply .reply-write-wrap .reply-write-info {
      padding-bottom: 10px; }
    .section-view .view-reply .reply-write-wrap .inp-reply-writer {
      width: 100px;
      padding: 3px 5px;
      border: 1px solid #ccc; }
      .section-view .view-reply .reply-write-wrap .inp-reply-writer::placeholder {
        color: #999; }
    .section-view .view-reply .reply-write-wrap .reply-txtarea-wrap {
      position: relative;
      padding-right: 60px;
      border: 1px solid #ccc; }
    .section-view .view-reply .reply-write-wrap .reply-txtarea {
      box-sizing: border-box;
      width: 100%;
      height: 60px;
      padding: 3px 5px;
      resize: none; }
      .section-view .view-reply .reply-write-wrap .reply-txtarea::placeholder {
        color: #999; }
    .section-view .view-reply .reply-write-wrap .reply-submit {
      position: absolute;
      top: 0;
      right: 0;
      width: 60px;
      height: 60px;
      padding: 10px;
      background: #666;
      color: #fff;
      font-size: 12px; }

.section-card {
  padding: 10px 0; }
  .section-card .card-wrap {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(3, [col] 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px; }
    .section-card .card-wrap .card-link {
      transition: all 1s; }
      .section-card .card-wrap .card-link.on {
        grid-column: auto / span 2;
        grid-row: auto / span 2; }
        .section-card .card-wrap .card-link.on .flipper {
          -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg); }
        .section-card .card-wrap .card-link.on .card-content {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          z-index: 2;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 30px; }
          .section-card .card-wrap .card-link.on .card-content .tit {
            padding-bottom: 5px; }
    .section-card .card-wrap .flipper {
      transform-style: preserve-3d;
      position: relative;
      padding-bottom: 100%;
      transition: transform 1s; }
  .section-card .card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 1px solid #c9c9c9;
    transition: all 1s;
    backface-visibility: hidden;
    overflow: hidden; }
    .section-card .card.front {
      background: #fff;
      -webkit-transform: rotateX(0deg);
      transform: rotateX(0deg); }
    .section-card .card.back {
      background: #000;
      -webkit-transform: rotateX(180deg);
      transform: rotateX(180deg);
      color: #fff; }
      .section-card .card.back:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        background: rgba(0, 0, 0, 0.6); }
    .section-card .card .card-img {
      width: 100%; }
@keyframes flip {
  50% {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg); } }
.layer-scroll-block {
  overflow: hidden; }

.layer {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 20px; }
  .layer.on {
    display: block; }
  .layer .layer-dim {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5); }
  .layer .layer-window {
    position: relative;
    top: 50%;
    left: 50%;
    max-width: 640px;
    background: #fff;
    font-size: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    transform: translate(-50%, -50%); }

.thumb-layer .layer-hd {
  position: relative; }
.thumb-layer .layer-close {
  position: relative;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 0; }
  .thumb-layer .layer-close:before, .thumb-layer .layer-close:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    background: #666;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg); }
  .thumb-layer .layer-close:before {
    width: 24px;
    height: 1px; }
  .thumb-layer .layer-close:after {
    width: 1px;
    height: 24px; }
.thumb-layer .layer-img {
  width: 100%;
  vertical-align: baseline; }

/*# sourceMappingURL=style.css.map */
